

body {
            background: #f2e3e3;
            font-family: Arial, sans-serif;
            margin: 10px;
            padding: 20px;
            
            
        }

        header {
            background: #674747;
            color: white;
            padding: 20px;
            text-align: center;
        }

         h1 {
            color: #fcfcfc;
            text-align: center;
        }
        
        h2 {
               margin-top: 30px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline-block;
            margin: 10px;
        }

        nav ul li a {
            text-decoration: none;
            color: #674747;
            font-weight: bold;
            padding: 6px 10px;
            border-radius: 4px;
        }

        nav ul li a:hover {
            background:#674747;
            color: white;
        }

        /* TABLEAU DES PRODUITS */
        .product-table {
            width: 95%;
            margin: 30px auto;
            border-collapse: collapse;
        }

        .product-table th {
            background: #4a2e2e;
            color: white;
            padding: 12px;
            font-size: 18px;
        }

        .product-table td {
            border: 1px solid #4a2e2e;
            padding: 15px;
            vertical-align: top;
            background: #fff7f7;
        }

        .product-table img {
            width: 100%;
            max-width: 280px;
            border-radius: 8px;
        }

        /* TABLEAU DES GENERATEURS */
        .data-table {
            width: 70%;
            margin: 40px auto;
            border-collapse: collapse;
        }

        .data-table th {
            background: #4a2e2e;
            color: white;
            padding: 10px;
        }

        .data-table td {
            border: 1px solid #4a2e2e;
            padding: 10px;
            background: #fff7f7;
        }






        div{ /*vas selectionner la balise div(toutes)côter html*/
    display: inline; /*pour alligné tout les div */
    margin-left: 20px;/*vas les décaler vers la gauche*/
   
}
form{/*vas selectionner la balise form (toutes) côter htlm*/
    background-color: #4a2e2e; /*colorie l'arrière plan du formulaire*/
    width: 90%; /*vas occuper 90% de la largeur de la page*/
    max-width: 600px; /*vas limiter la largeur a 600px*/
    border-radius: 10px; /*vas nous permettre d'arrondir les angles*/
    display: flex;
    flex-direction: column; /*pour aligner les éléments du formulaire en colonne*/
    gap: 20px; /*vas ajouter un espace entre les éléments du formulaire*/
    padding: 30px; /*vas ajouter un espace à l'intérieur du formulaire*/
}



    form input,form select, form textarea{/*vas me selectionner tout les balise input ,select et textarea à l'intérieur de la balise form*/
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;  
             
    }
form {
         width: 70%;
            margin: 40px auto;
}